.item1{
    display: flex;
    height: max-content;
    width: 100%;
    border-style: solid;
    border-color: rgb(238, 234, 234);
    
}
.img{
    height: 250px;
    width: 250px; 
    background-color: rgb(243, 234, 234); 
    text-align: center; 
}
.name1{
    padding-top: 30px;
    padding-left: 20px;
}
.price{
    font-size: x-large;
}
.lastprice{
    text-decoration: line-through;
}
.item1{
    padding-bottom: 10px;
}

